<footer>

    <div class = "footer-section-container">
        
        <section class = "footer-section">

            <h5>Seguinos en:</h5>

            <div class="iconos-contacto">
                
                <a href="#"><i class="fa-brands fa-facebook"></i></a>
                <a href="#"><i class="fa-brands fa-instagram"></i></a>
                <a href="#"><i class="fa-brands fa-whatsapp"></i></a>

            </div>

        </section>

        <section class = "footer-section">
            
            <h5>Sobre Nosotros</h5>
            <h5>Locales y horarios de atención</h5>
            <h5>Preguntas Frecuentes</h5>
            <h5>Medios de pago</h5>


        </section>

        <section class = "footer-section">

            <h5>Legales</h5>
            <h5>Políticas de privacidad</h5>
            <h5>Trabajá con nosotros</h5>
            <h5>Terminos y condiciones</h5>

            
        </section>

        
    </div>
    
    <section class = "footer-copyright-container">
        <h5 class = "copyright" > Copyright ©  Beethoven Spa Hotel </h5> 
    </section>
    <script type="text/javascript" src="/js/header.js"></script>

</footer>