<header>

    <div class = "top-header">
       
        <div class="burger">
            <i class="fas fa-bars"></i>
        </div>

        <div class = "logo-container-buscador">
            <div class = "logo-container">
                <a href="/"><img class="logo" src="/img/BeethovenSpaLogo.png"></a>
                <h1>Beethoven Spa</h1>
            </div>
            <div class="buscador">
                <input class="barra" type="serch" placeholder="Buscar productos y/o servicios">
                <i class="fa-solid fa-magnifying-glass"></i>
            </div>

        </div>

        <div class = "nav-right">
            <a href="/cart"><i class="fa-solid fa-cart-shopping"></i></a>
            <a href="/login"><i class="fa-regular fa-user"></i></a>
        </div>

    </div>

    
</header>