<!DOCTYPE html>
<html lang="en">

<%- include ('partials/head')%>

<body>

    <%- include ('partials/header')%>


        <main>

            <div class = "main-section-container">
                <div class="color-main-home">
                    <div class="div-carrousel-conteiner">
    
                        <div class = "carrousel-conteiner">
                            <div class="big">
                                <img class="carrousel-img" alt="image 1" src="/img/carrousel/masajesperro.jpg">
                                <img class="carrousel-img" alt="image 2" src="/img/carrousel/gato carrousel.jpg">
                                <img class="carrousel-img" alt="image 3" src="/img/carrousel/perro picnic carrousel.jpg">
                                <img class="carrousel-img" alt="image 4" src="/img/carrousel/perrocarrouselzanahoria.jpg">
                            </div>
                           
                                <ul class="spots">
                                    <li class="spot"></li>
                                    <li class="spot"></li>
                                    <li class="spot"></li>
                                    <li class="spot"></li>
                                </ul>
    
                         
                        </div>
    
                    </div>

                </div>
                
                
                <section class = "servicios-main">
                    <div class = "servicios-imagenes-container">



                    
                    <article class="card-servicios">
                        <a class="link-descripciones "href="/products/detail/1 ">
                            <img class="servicios-imagenes" src="/img/category/perrospa.jpg">
                            <div class="caracteristicas">
                                <i class="fa-solid fa-paw"></i>
                                <h3 class="descripciones">EXPERIENCIA SPA</h3>
                            </div>
                        </a>
                    </article>
                    <article class="card-servicios">
                        <a class="link-descripciones "href="/products/detail/1 " >
                            <img class="servicios-imagenes" src="/img/category/gatogourmet.jpg">
                            <div class="caracteristicas">
                                <i class="fa-solid fa-paw"></i>
                                <h3 class="descripciones">EXPERIENCIA GOURMET</h3>
                            </div>
                        </a>
                    </article>
                    <article class="card-servicios">
                        <a class="link-descripciones "href="/products/detail/1 ">
                            <img class="servicios-imagenes" src="/img/category/accesorios.jpg">
                            <div class="caracteristicas">
                                <i class="fa-solid fa-paw"></i>
                                <h3 class="descripciones">ACCESORIOS</h3>
                            </div>
                        </a>
                    </article>
                    <article class="card-servicios">
                        <a class="link-descripciones "href="/products/detail/1 ">
                            <img class="servicios-imagenes" src="/img/category/450_1000.jpg">
                            <div class="caracteristicas">
                                <i class="fa-solid fa-paw"></i>
                                <h3 class="descripciones">ROPA</h3>
                            </div>
                        </a>
                    </article>



                    </div>
                </section>

            </div>
        </main>

        <%- include ('partials/footer')%>
        <script type="text/javascript" src="/js/home.js"></script>
</body>
</html>