<!DOCTYPE html>
<html lang="en">

<%- include ('partials/head')%>

<body>

    <%- include ('partials/header')%>

    
    <main class="home-main">
        
        <div class = "main-section-container">


                <section class = "servicios-main">
                    <div class = "servicios-imagenes-container">
            
            
                    
                    <article class="card-servicios">
                        <a class="link-descripciones "href="/products/detail/1 ">
                            <img class="servicios-imagenes" src="/img/category/perrospa.jpg">
                            <div class="caracteristicas">
                                <i class="fa-solid fa-paw"></i>
                                <h3 class="descripciones">EXPERIENCIA SPA</h3>
                            </div>
                        </a>
                    </article>
                    <article class="card-servicios">
                        <a class="link-descripciones "href="/products/detail/1 " >
                            <img class="servicios-imagenes" src="/img/category/gatogourmet.jpg">
                            <div class="caracteristicas">
                                <i class="fa-solid fa-paw"></i>
                                <h3 class="descripciones">EXPERIENCIA GOURMET</h3>
                            </div>
                        </a>
                    </article>
                    <article class="card-servicios">
                        <a class="link-descripciones "href="/products/detail/1 ">
                            <img class="servicios-imagenes" src="/img/category/accesorios.jpg">
                            <div class="caracteristicas">
                                <i class="fa-solid fa-paw"></i>
                                <h3 class="descripciones">ACCESORIOS</h3>
                            </div>
                        </a>
                    </article>
                    <article class="card-servicios">
                        <a class="link-descripciones "href="/products/detail/1 ">
                            <img class="servicios-imagenes" src="/img/category/450_1000.jpg">
                            <div class="caracteristicas">
                                <i class="fa-solid fa-paw"></i>
                                <h3 class="descripciones">ROPA</h3>
                            </div>
                        </a>
                    </article>
            
            
            
                    </div>
                </section>              

            </div>
        </main>

        <%- include ('partials/footer')%>
        <script type="text/javascript" src="/js/home.js"></script>
</body>
</html>