<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BeethovenSpa</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <link rel="icon" type="image/png" sizes="32x20" href="img/BeethovenSpaLogo.png">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff"> 
</head>
<body>
        <header>

            <div class = "top-header">
               
                <div class="burger">
                    <i class="fas fa-bars"></i>
                </div>

                <div class = "logo-container-buscador">
                    <div class = "logo-container">
                        <a href="/home"><img class="logo" src="/img/perrito.png"></a>
                        <h1>Beethoven Spa</h1>
                    </div>
                    <div class="buscador">
                        <input class="barra" type="serch" placeholder="Buscar productos y/o servicios">
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </div>

                </div>

                <div class = "nav-right">
                    <i class="fa-solid fa-cart-shopping"></i>
                    <i class="fa-regular fa-user"></i>
                </div>

            </div>

            
        </header>
        <main>
        </main>
        <footer>
        </footer>
</body>
</html>