<!DOCTYPE html>
<html lang="en">

<%- include ('partials/head')%>

<body>

    <%- include ('partials/header')%>


        <main>
            <div class = "main-section-container">

                <div class = "carrousel-conteiner">
                    <img class="carrousel" src="/img/pelocorto.jpg">
                </div>

                <section class = "servicios-main">
                    <h3>Nuestros Servicios</h3>
                    <div class = "servicios-imagenes-container">
                        <article class="card-servicios">
                            <img class="servicios-imagenes" src="/img/masajesperro.jpg">
                            <div class="caracteristicas">
                                <i class="fa-solid fa-paw"></i>
                                <h3 class="descripciones">Sesión de masajes</h3>
                            </div>
                        </article>

                        <article class="card-servicios">
                            <img class="servicios-imagenes" src="/img/perropeinado.jpg">
                            <div class="caracteristicas">
                                <i class="fa-solid fa-paw"></i>
                                <h3 class="descripciones">Peinados acordes a la raza</h3>
                            </div>
                        </article>

                        <article class="card-servicios">

                            <img class="servicios-imagenes" src="/img/perritocomiendo.jpg">
                            <div class="caracteristicas">
                                <i class="fa-solid fa-paw"></i>
                                <h3 class="descripciones">Cocina gourmet</h3>
                            </div>
                        </article>

                        
                        <article class="card-servicios">

                            <img class="servicios-imagenes" src="/img/perrotoalla.jpg">
                            <div class="caracteristicas">
                                <i class="fa-solid fa-paw"></i>
                                <h3 class="descripciones">Revitalizadores para el pelo y la piel</h3>
                            </div>
                        </article>




                    </div>
                </section>

                <section class = "servicios-main">
                    <h3>Paquetes Especiales</h3>
                    <div class = "servicios-imagenes-container">

                        <article class="card-servicios">
                            <img class="servicios-imagenes" src="/img/perropeinado.jpg">
                            <div class="caracteristicas">
                                <i class="fa-solid fa-paw"></i>
                                <h3 class="descripciones">experiencia gourmet + 3 prendas de ropa a elección</h3>
                            </div>
                        </article>

                        <article class="card-servicios">

                            <img class="servicios-imagenes" src="/img/perritocomiendo.jpg">
                            <div class="caracteristicas">
                                <i class="fa-solid fa-paw"></i>
                                <h3 class="descripciones">Corte de pelo + experiencia revitalizadora de piel</h3>
                            </div>
                        </article>

                        
                        <article class="card-servicios">

                            <img class="servicios-imagenes" src="/img/perrotoalla.jpg">
                            <div class="caracteristicas">
                                <i class="fa-solid fa-paw"></i>
                                <h3 class="descripciones">Un día de spa en nuestro centro all-inclusive</h3>
                            </div>
                        </article>




                    </div>
                </section>


            </div>
        </main>

        <%- include ('partials/footer')%>

</body>
</html>