<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BeethovenSpa</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <link rel="icon" type="image/png" sizes="32x20" href="img/BeethovenSpaLogo.png">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff"> 
</head>
<html>
<header>
</header>
<main>
     <article class="bloque-1">
     <div class="img-principal">
         <img src="aca iria una imagen1" alt="*" class="img-product">
        </div>
        <div clas="img-small">
            <img src="aca iria una imagen2" alt="**" class="img-product">
            <img src="aca iria una imagen2" alt="**" class="img-product">
            <img src="aca iria una imagen2" alt="**" class="img-product">
        </div>
        <div><h3>Tambien te puede interesar</h3></div>
        <div> 
            <img src="aca iria una imagen3" alt="*" class="img-product"> acordarse que la imagen al hacerle click nos lleva a ese otro producto
            <img src="aca iria una imagen4" alt="*" class="img-product">
            <img src="aca iria una imagen5" alt="*" class="img-product">
        </div>
    </article>
    <article class="bloque-2">
        <div><h2>Nombre del producto</h2></div>
        <div> aca va el boton de agregar al carrito</div>
        <div>aca va el boton de comprar</div>
        <p>aca va la descripcion del producto</p>

    </article>
</main>
 <body>

 <footer>

  </footer>
  </body>
</html>