<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BeethovenSpa</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <link rel="icon" type="image/png" sizes="32x20" href="img/BeethovenSpaLogo.png">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff"> 
</head>
<html>
<header>
    

        <div class = "top-header">
           
            <div class="burger">
                <i class="fas fa-bars"></i>
            </div>

            <div class = "logo-container-buscador">
                <div class = "logo-container">
                    <a href="/home"><img class="logo" src="/img/perrito.png"></a>
                    <h1>Beethoven Spa</h1>
                </div>
                <div class="buscador">
                    <input class="barra" type="serch" placeholder="Buscar productos y/o servicios">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </div>

            </div>

            <div class = "nav-right">
                <a href="/cart"><i class="fa-solid fa-cart-shopping"></i></a>
                <a href="/login"><i class="fa-regular fa-user"></i></a>
            </div>

        </div>

        
    
</header>
<main>
     <article class="bloque-1">
     <div class="img-principal">
         <div class="img-principal-product-detail">
             <img src="/img/dog-img4.jpg" alt="foto-perro1" class="img-product1">
        </div>   
        </div>
        <div class="img-small">
            <img src="/img/dog-img1.jpg" alt="foto-perro2" class="img-product2">
            <img src="/img/dog-img2.jpg" alt="foto-perro3" class="img-product2">
            <img src="/img/dog-img3.jpg" alt="foto-perro4" class="img-product2">
        </div>
        <article class="bloque-2">
            <div><h2>Campera Champion para perro pequeño</h2></div>
            <button>comprar</button>
            <button>Agregar al carrito</button>
    
        </article>
        <div><h3>Tambien te puede interesar</h3></div>
        <div class="img-te-puede-interesar"> 
            <div class="card">
                <img src="/img/dog-img3.jpg" alt="*" class="img-product3">
            </div>
            <div class="card">
            <img src="/img/dog-img2.jpg" alt="*" class="img-product3">
        </div>
        
        <div class="card">
            <img src="/img/dog-img1.jpg" alt="*" class="img-product3">
        </div>
        </div>
    </div>
    </article>
    
</main>
 <body>

 <footer>

  </footer>
  </body>
</html>