<!DOCTYPE html>
<html lang="en">

    <%- include ('partials/head')%>

    <body>
    
        <%- include ('partials/header')%>

<main>
    <div class="bloque-1">
        <div class="fotos-bloque">
     <div class="img-principal">
         <div class="img-principal-product-detail">
             <img src="/img/perro+comida.jpg" alt="perro+comida" class="img-product1">
        </div>   
     </div>
        <div class="img-small">
            <img src="/img/perroZanahoria.jpg" alt="perroZanahoria" class="img-product2">
            <img src="/img/perritocomiendo.jpg" alt="perritocomiendo" class="img-product2">
            <img src="/img/perroMoetTorta.jpg" alt="perroMoetTorta" class="img-product2">
        </div>
        </div>
        
        <div class="bloque-2">

            <div>
                <h2 class="Cocina-Gourmet">  Cocina Gourmet  </h2>
            </div>

           <div class="button-div">
            <button>Agregar al carrito</button>
           </div>

           <div class="description-art">
                <h4>Descripción</h4>

                <h5 class="frase1">Haz que tu perro disfrute la mejor comida de su vida</h5> 

                <ul>
                    <li> Alimentos premium</li>
                    <li> Verduras y frutas de nuestra huerta</li>
                    <li> La mejor carne del pais</li>
                        <li>Contamos con chefs de primera </li>
                            <li>Nuestro menu cuenta con gran variedad de platos gourmet </li>
                                       
                
                </ul>

                <div class="description-2">

                    <h4>Nuestro Menu</h4>
                    <h5 class="frase2">Comida apta para perro con problemas gastricos</h5>
                    
                    <ul>

                        <li> Lomo con verduras de la huerta </li>
                        <li>pollo con hierbas finas</li>
                        <li>Ensalada fresca</li>

                    </ul>

                </div>
           </div>
        </div>
    </div>
    
            <div class="bloque-te-puede-interesar">

            <h3 class="te-puede-interesar">
                <u>Tambien te puede interesar</u>
            </h3>
        
        <div class="img-te-puede-interesar"> 

            <div class="card">

                <img src="/img/masajesperro.jpg " alt="*" class="img-product3">
            </div>

            <div class="card">
            <img src="/img/perrotoalla.jpg" alt="*" class="img-product3">
            </div>

        
        <div class="card">
            <img src="/img/perropeinado.jpg" alt="*" class="img-product3">
        </div>

       </div>
    </div>

</article>
</div>
    

</main>
 

<%- include ('partials/footer')%>

  </body>
</html>