<!DOCTYPE html>
<html lang="en">

    <%- include ('partials/head')%>

    <body>
    
        <%- include ('partials/header')%>
    
    <main>
        <article class="shopping-cart">
            <div class="carrito">
                <h3>Carrito</h3>
    </div>
    <div class="card-carrito">
        <img src="/img/dog-img4.jpg" alt="foto-perro1" class="img-product1">
        <div class="ropa-perro-art-cant">
        <div><h2 class="ropa-perro-art">Campera Champion para perro pequeño</h2></div>
        <div><h3>Cant</h3></div>
        </div>  
        <div><h3>Precio</h3></div>
    </div>
    <div class="costo-desc-total">
    <h3>Costo del envío</h3>
    <h3>Descuentos</h3>
    <h3>Total a Pagar</h3>
    </div>  
    <div class="button-div"> <button>comprar</button>
        <button>Seguir comprando</button>
       </div>

</article>




    </main>

    <%- include ('partials/footer')%>
    
      </body>
    </html>