<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BeethovenSpa</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <link rel="icon" type="image/png" sizes="32x20" href="img/BeethovenSpaLogo.png">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff"> 
</head>
<html>
<header>
    

        <div class = "top-header">
           
            <div class="burger">
                <i class="fas fa-bars"></i>
            </div>

            <div class = "logo-container-buscador">
                <div class = "logo-container">
                    <a href="/home"><img class="logo" src="/img/perrito.png"></a>
                    <h1>Beethoven Spa</h1>
                </div>
                <div class="buscador">
                    <input class="barra" type="serch" placeholder="Buscar productos y/o servicios">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </div>

            </div>

            <div class = "nav-right">
                <a href="/cart"><i class="fa-solid fa-cart-shopping"></i></a>
                <a href="/login"><i class="fa-regular fa-user"></i></a>
            </div>

        </div>

        
    
</header>
<main>
    <article class="bloque">
     <article class="bloque-1">
     <div class="img-principal">
         <div class="img-principal-product-detail">
             <img src="/img/dog-img4.jpg" alt="foto-perro1" class="img-product1">
        </div>   
        </div>
        <div class="img-small">
            <img src="/img/dog-img5.jpg" alt="foto-perro2" class="img-product2">
            <img src="/img/dog-img6.jpg" alt="foto-perro3" class="img-product2">
            <img src="/img/dog-img7.jpg" alt="foto-perro4" class="img-product2">
        </div>
        </article>
        <article class="bloque-2">
            <div><h2 class="ropa-perro-art">Campera Champion para perro pequeño</h2></div>
           <div class="button-div"> <button>comprar</button>
            <button>Agregar al carrito</button>
           </div>
           <div class="description-art">
                <h4>Descripción</h4>
                <h5 class="frase1">La prenda perfecta para que tu peludito esté protegido</h5> 
                <ul><li> Tela calidad premium</li>
                    <li> Elastizado</li>
                    <li> 2 mangas y capucha</li>
                        <li>Color amarillo y blanco, estampa animada</li>
                            <li> Medidas talle S:</li>
                                <li> CUELLO 19 cm sin estirar</li>
                                    <li> PECHO 19 cm sin estirar / 25 cm estirado</li>
                                        <li> LARGO 25 cm sin estirar / 29 cm estirado.  </li>            
                
                </ul>
                <div class="description-2">
                    <h4>COMO TOMAR LAS MEDIDAS</h4>
                    <h5 class="frase2">Para elegir el talle adecuado le sugerimos tener en cuenta TRES MEDIDAS:</h5>
                    <ul>
                        <li>LOMO: medir el largo de su can </li>
                        <li>PECHO: medir circunferencia total de su can - bajo axila</li>
                        <li>COTORNO CUELLO: medir circunferencia total del cuello de su can
                            Sugerimos que la mascota es peluda o tiene rulos agregar 3 cm más aproximadamente a la medida tomada del pecho.
                            </li>
                    </ul>
                </div>
           </div>
        </article>
    </article>
        <div><h3 class="te-puede-interesar"><u>Tambien te puede interesar</u></h3></div>
        <div class="img-te-puede-interesar"> 
            <div class="card">
                <img src="/img/dog-img3.jpg" alt="*" class="img-product3">
            </div>
            <div class="card">
            <img src="/img/dog-img2.jpg" alt="*" class="img-product3">
        </div>
        
        <div class="card">
            <img src="/img/dog-img1.jpg" alt="*" class="img-product3">
        </div>
        </div>
    </div>
    </article>
    
</main>
 <body>

    <footer>

        <div class = "footer-section-container">

            <section class = "footer-section">

                <h5>Seguinos en:</h5>

                <div class="iconos-contacto">

                    <a href="#"><i class="fa-brands fa-facebook"></i></a>
                    <a href="#"><i class="fa-brands fa-instagram"></i></a>
                    <a href="#"><i class="fa-brands fa-whatsapp"></i></a>

                </div>

            </section>

            <section class = "footer-section">

                <h5>Sobre Nosotros</h5>
                <h5>Locales y horarios de atención</h5>
                <h5>Preguntas Frecuentes</h5>
                <h5>Medios de pago</h5>


            </section>

            <section class = "footer-section">

                <h5>Legales</h5>
                <h5>Políticas de privacidad</h5>
                <h5>Trabajá con nosotros</h5>
                <h5>Terminos y condiciones</h5>


            </section>


        </div>

        <section class = "footer-copyright-container">
            <h5 class = "copyright" > Copyright ©  Beethoven Spa Hotel </h5> 
        </section>

    </footer>
  </body>
</html>