/*---COLORES---
rosita header: #FFD7D7;
rosa fuerte:#FF3A5E ;
celeste :#60E2EB;
verdeagua:#A8EBDF;
azul verdoso: #9AC2D2;
verde:#DBEFEB;------*/
:root {
  --negro: #393939;
  --blanco: #ececec;
  --sombra-ppal: #c9c9c9;
  --sombra-sec: #ffffff;
  --borde-negro: #00000050;
  --marcado: rgb(127, 195, 255);
  /* Tipografía */
  --tipo-principal: Helvetica, Arial, sans-serif;
}

* {
  margin: 0%;
  padding: 0%;
  border: 0;
  box-sizing: border-box;
  vertical-align: baseline;
  font-family: roboto;

}
/***************************************** M O B I L E - H E A D E R  *************************************************/
header {
  border-bottom: 1px solid #C1C1C1; 
}
.top-header {
   display:flex;
   justify-content: space-around;
   padding: 10px;
   
  }
.logo {
  width: 70px;
  box-shadow: 1px 1px 20px 1px pink inset;
  border-radius: 20px;

  }
  .link-logo{
    margin-left: 10px;
  }
.logo-container-buscador{
    width: 70%;
}
.logo-container{
  display: flex;
  width: 100%;
  height: 60px;
  background-color: #fff;
  align-items: center;
  border: 0.5px solid   #FFD7D7;
  border-radius: 5px;
}
/***********************MENÚ HAMBURGUESA**************/
.fa-user:hover {
  color: #ffa5b5;
  animation-duration: 3s;
  animation-name: slidein;
}

.rotate-bars{
  transform: rotate(-90deg);
  transition-duration: 1s;
}
.menu{
  width: 10%;

}
.burger {
  position: relative;
  left: -2000%;
  opacity:1;
  padding-top: 40px;
  width: 0%;
  transition-duration: 0.6s;
  z-index: 100;

}
.menu-items{
  height: 100%;
  gap: 40px;
  list-style: none;
  display:flex;
  flex-direction: column;
  margin-top: 40px;
  background-color: white;
  position: fixed;
  padding-right: 10px;
  padding-top: 10px;
  border-right: 0.5px solid   #FFD7D7 ;
  border-top: 0.5px solid   #FFD7D7;
}


.menu-link:hover{
  color:#FFD7D7;

}
.menu-link{
  font-size: 25px;
  text-decoration: none;
  color: #FF3A5E;
  margin-left: 20px;
  text-overflow: wrap;

}
.activate-menu-items{
  position: absolute;
  left:0%;
  opacity: 1;
  right: 0px;
  transition-duration: 0.3s;
}

.fa-bars {
  position: relative;
  color: #f9cccc;
  font-size: 30px;
  margin-top: 20px;
  cursor:pointer;
  transition-duration: 1s;
  text-shadow: 1px 1px 1px #FF3A5E ;
}

.nav-right {

  display: flex;
  width: 10%;
  align-items: baseline;
}

.fa-cart-shopping{
  color: #f9cccc;
  font-size: 30px;
  margin-top: 20px;
  text-shadow: 1px 1px 1px #FF3A5E ;
  display: none;
}

.fa-user {
  visibility: hidden;
  font-size: 30px;
  margin-top: 20px;
  color: #f9cccc;
  text-shadow: 1px 1px 1px #FF3A5E ;
}

h1 {
  margin: auto;
  font-size: 20px;
  color: black;
  font-weight: lighter;
}


.barra {
  
  width: 70%;
  height: 30px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  box-shadow: 2px 0px 2px 0px  #FF3A5E;


}
.search{
  position: relative;
  background-color: transparent;
  border-radius: 0%;
  box-shadow: none;
  margin: 0%;
  padding: 0%;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  font-size: 20px;
  bottom: -4px;
  left: -4px;
  
}
.search:hover{
 color:pink
}
.fa-magnifying-glass {
  background-color: #FFF;
  padding: 5px;
  border-bottom-width: 0px;


}
.form-buscador{
  text-align: center;

}


.avatar{
  display: block;
  top: 10px;
  left: 50px;
  height: 50px;
  width: 50px;
  border-radius: 100%;

}

#logout{
  text-decoration: none;
  color: black;
  align-self: center;
}

/***************************************** M O B I L E - M A I N - H O M E *************************************************/
.home-main{
  display: flex;
  align-items: center;
  line-height: 1.4em;
  min-height: 100vh;
  background-color: pink;

}

.texto-home{
  color: white;
  font-size: 30px;
  text-align: center;
  padding-top: 20px;
}

.image-div{
  display: flex;
  width:100%;
  min-height: 40vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 20px;
}
.enlace-button-tienda{
  padding-top: 20px;
}
.image-home{
  width: 100%;
  height: 150px;
  box-shadow: 3px 3px 3px 3px #FF3A5E

}





.servicios-main {
  text-align: center;
  padding: 40px;
  background-color: lightblue;
  box-shadow: 1px 1px 20px 1px black ;
}
.servicios-imagenes-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 0%;
}

.card-servicios {
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 10px;
  margin-top: 10px;
  box-shadow: none;
  width: 50%;
  
}


.card-servicios:hover{
  box-shadow:0px 10px 10px rgb(152, 5, 115);
}


.servicios-imagenes{
  width: 100%;
}
.info-personal-profile{
  margin-left: 20px;
  justify-content: center;
  width: 50%;
}
.info-personal-profile h2{
  font-family:'Helvetica';
  color: #FE87B0;
  margin-bottom: 20px;
}
.info-personal-profile h4{
  font-family:'Helvetica';
  color: #C570E3;
  
  
}


/***************************************** M O B I L E - F O O T E R *************************************************/



.footer-section-container {
  padding: 15px;
  background-color: #FFD7D7;

}

.iconos-contacto {
  display: flex;
  flex-direction: wrap;
  justify-content: space-around;
  padding: 10px;
}
.fa-facebook {
  font-size: 2rem;
  color: blue;
}


.fa-instagram {
  width: 2rem;
  height: 2rem;
  border-radius: 5px;
  color: #fff;
  text-align: center;
  font-size: 2rem;
  background: #d6249f;
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
  box-shadow: 0px 3px 10px rgba(0,0,0,.25);
}

.fa-whatsapp {
  font-size: 2rem;
  color: #25d366;
}

footer div section h5 { 
  font-size: 15px;
  font-weight: lighter;
  padding: 5px;
}

.footer-copyright-container {
  padding: 10px;
  background-color: #f7dada;
  border-top: 1px solid #C1C1C1 ;
}

.copyright {

  font-weight: lighter;

}

  /*============== LOGIN =============*/
.main-login{
  min-height: 70vh;
  margin-top: -23px;
}

  form.login {

    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 24px auto;
    font-size: 14px;
    padding-top:20px;
    font-size: 14px;
 }    

.general-login{
      background-color: white;
      display:block;
      border: #cfefed solid 3px;
      width: 40%;
      text-align: center;
      padding:2px;
  }

h3{
  padding-top:10px;
  padding-bottom: 20px;
  font-size:18px;
}

.main-link{

    display: flex;
    flex-direction: column;
    padding:2px;
    align-items: center;
}

label{
  padding: 1%;
  font-size:14px;
}

.main-link input{
  background-color: #cfefed ;
  width: 50%;
  border: #cfefed solid;
  padding: 1%;
}

.send-buttom {
  margin:20px;
  color: #090909;
  padding: 5px 70px 5px 70px;
  font-size: 14px;
  background: #00969f;
  border: 2px solid #00969f;
  transition: all .3s #00969f;
}

.send-buttom:hover{
  background-color: #00969f;
  color: #e8e8e8;
}




.new-account{
  padding:5%;
  border-bottom: #090909 solid 1px;
  text-align: center;
  font-size: 14px;
  text-decoration: none;
  list-style-type: none;
}


.help{
  padding:5%;
  font-size: 14px;
  text-align:center;
}

.image-edit{
  height:80px ;
}

/*================== REGISTER ===============*/

.logo-register{
 width: 50%;
 display: flex;
 justify-content: center;
 margin:20% auto;

}

form.register{
  display:flex;
  background-color: lightgray;
  justify-content:right;
}



.title-information{
  color: black;
  text-align: center;
}


.login-information{
  width: 40%;
  background-color: white;
  text-align: center;
  margin: 90px auto;
  margin-right: 100px;
  border-radius: 1%;
  justify-content:right;
}

.main-link-register{

  display: flex;
  flex-direction: column;
  padding:2px;
  align-items: center;
  padding: 1%;
}


.main-link-register input{
background-color: white;
width: 60%;
border: #FFD7D7 solid;
padding: 1%;
}

.subscription{
  padding:5px;
  align-items: center;
  font-size: 14px;;
}

.container{
  text-align: center;
}
.is-valid{
 color: green;
 outline: solid 1px green;
}
.is-invalid{
  color: red;
  outline: solid 2px red;
}
.is-invalid::placeholder{
  color:red
}
.error{
  color: red;
}

.send-buttom-register{
  margin:20px;
  color: #090909;
  padding: 5px 70px 5px 70px;
  font-size: 14px;
  background: #FFD7D7;
  border: 2px solid black;
  transition: all .3s #FFD7D7;

}

.send-buttom-register:hover{
  background-color: #FFD7D7;
  color: black;
}

.errors{
  color:#FF0000;
  font-size:15px;
  padding: 5px;
  
}

/*********************** V I S T A  P E R F I L    M O B I L E ***************/
.perfiles-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  padding: 30px;
}


.imagenes-perfiles{
  width: 100%;
}

.nombre-prefiles{
    text-decoration: none;
}

.card-users{
  margin-bottom: 5%;
  margin-top: 5%;
  box-shadow: 0px 0px 10px rgb(100, 100, 100);
  width: 100%;
  text-align: center;
  justify-items: center;

  align-content: center;
}

.user-main{
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  justify-items: center;

  align-content: center;
}



/*********************************************************************************************************************/
/***************************************** M A I N- MOBILE *************************************************/
/*********************************************************************************************************************/



.te-puede-interesar{
  
  justify-content: center;
  display: flex;
  font-size: 0.5cm;
 
}


.bloque-1{
  width: 100%;
  margin-top: 10px;
  
}
.img-principal-product-detail{
  display: flex;
  justify-content: center;
  
}
.img-product1{
  width: 400px;
    
}
.img-product2{
  width: 0px;
  
}
.img-product3{
  width:300px;
  height: 270px;
  margin-bottom: 10px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  }

.img-product3:hover{
  box-shadow: 0px 15px 20px rgba(185, 185, 185, 0.945);
  color: rgba(255, 255, 255, 0.596);
  transform: translateY(-7px);
}
.img-te-puede-interesar{
  justify-content: center;
  
  
  }
  .card{
   display: flex;
    justify-content: center;
     }
 
.Cocina-Gourmet{
  display: flex;
  justify-content: center;
}
.link-descripciones{
  text-decoration: none;
  color: #000;
}
.caracteristicas{
  background-color: white;
}
.button-div{
  display: flex;
  justify-content: center;
  margin-top:10px;
}


/* From uiverse.io */
button {
  padding: 1.3em 3em;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #000;
  background-color: #fff;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
 }
 
 button:hover {
  background-color:#f85472ca ;
  box-shadow: 0px 15px 20px rgb(237, 170, 182);
  color: #fff;
  transform: translateY(-7px);
 }
 
 button:active {
  transform: translateY(-1px);
 }
 .description-art h4{
  font-size: 20px;
  color:rgba(0, 0, 0, 0.874);
}
.description-art{
  margin-top: 20px;
  text-align: center;
  }
.frase1{
  font-size: 15px;
  font-style: italic;
  color: rgb(246, 33, 108);
} 
.frase2{
  font-size:15px;
  font-style: oblique;
  color: rgb(227, 31, 100);
}



/*** MOBILE - PRODUCT CREATE **************************/
/*** MOBILE - PRODUCT CREATE **************************/



.main-form{
  display:flex;
  justify-content:center;
  flex-direction: column;
  margin-bottom: 0px;
  height:80vh ;
  background-color: lightgray;
  align-items: center;
}
.form-product{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  min-height: 300px;
  width: 90%;
  background-color:  #FFD7D7;
  box-shadow:  5px 5px 5px 3px black;
}
.main-link input{
  border: 2px solid #fff;
  width: 80%;
}



.foward{
  display: flex;
  justify-content:center;
  cursor: pointer;
}

.product-fa{
  color: white;
  text-shadow: 0 0 2px red;
  font-size: 20px;
  padding: 20px;
}
.uno{
  color:#FF3A5E;

}
.dos{
  color: white;
  text-shadow: 0 0 2px red;

}

.product-fa:hover{
  color:#FF3A5E;

}
.first{
  display:block;

}
.second{
  display:none;

}
.third{
  display:none;

}
.fourths{
  display:none;

}

.activate-product-view{
  display:block;

}
.desactivate-product-view{
  display: none;
}

/*** MOBILE - PRODUCT CART ***/


  main section div article:hover{
    box-shadow: 0px 0px 10px rgb(100, 100, 100)
  }

  body::-webkit-scrollbar {
    width: 8px;            
  }
  
  body::-webkit-scrollbar-track {
    background: #ebebeb;    
  }
  
  body::-webkit-scrollbar-thumb {
    background-color: #ebebeb ;   
    border-radius: 20px;      
    border: 2px solid #666;  
  }
/*  cart desktop*/
/*.img-perrocomida{}
 /*agregar despues*/

.carrito{
  margin-left: 15px;
  margin-top: 20px;
  margin-bottom:20px;
}
.precio{
  display: flex;
  justify-content: end;
  
}
.card-carrito{
  justify-content: space-between;
  padding: 15px;
  align-items: center;
  display: flex;
  flex-direction: row;
  border: solid rgb(255, 192, 203);
  margin-bottom: 20px;
  box-shadow: 0px 15px 20px rgba(255, 192, 203, 0.5);
  margin: auto;
font-size: 15px;
}
.contenedor-costo-desc-total{
  justify-content: end;
  display: flex;
  padding: 15px;
}
.costo-desc-total{
  width: 20%;
  display: flex;
  flex-direction: column;
}
.contenedor-button-div-cart{
  justify-content: end;
  display: flex;
  padding: 15px;
}
.button-div-cart{
    width: 20%;
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
  
}

  
  .card-carrito img {
    width: 100px;
  }


  .costo-desc-total h3,h4{
    color:rgba(0, 0, 0, 0.88);
    margin-bottom: 20px;
  }
 
/** USER MOBILE  **/


  

/** H O M E - H E A D E R - T A B L E T **/

@media  (min-width: 426px){

  .fa-user {
    visibility:visible;
    color: #f9cccc;
    text-shadow: 1px 1px 1px #FF3A5E ;
  }

  .nav-right {
    justify-content: space-between;
  }

  .fa-cart-shopping:hover{
    color: #ffa5b5;
  }


.servicios-imagenes-container {
  display: flex;
}
  .card-servicios  {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    box-shadow: none;
      width: 25%;
  }
 

  main section div article:hover{
    box-shadow: 0px 0px 10px rgb(100, 100, 100)
  }




  
/*---- product detail---*/
.perro-articulo{
  color: rgba(0, 0, 0, 0.695);}
.Cocina-Gourmet{
  color: rgba(26, 25, 25, 0.695);
  display: flex;
  justify-content: center;
  align-content: CENTER;

}

.button-div{
  display: flex;
  justify-content: center;
 }
 button{
   margin-left: 10px;
 }

.img-te-puede-interesar{
  display: flex;
  justify-content: center;
}

.img-product3{
  width: 200px;
  height: 200px;
  margin-left: 20px;
  
}

/** tablet cart**/
.precio{
  display: flex;
  justify-content: end;
  
}
.card-carrito{
  justify-content: space-between;
  padding: 15px;
  align-items: center;
}
.contenedor-costo-desc-total{
  justify-content: end;
  display: flex;
  padding: 15px;
}
.costo-desc-total{
  width: 50%;
}
.contenedor-button-div-cart{
  justify-content: end;
  display: flex;
  padding: 15px;
}
.button-div-cart{
    width: 50%;
  }
  
.description-art h4{
  margin-bottom: 15px;
}
.description-2 h4 {
  margin-top: 15px;
}


/** T A B L E T - F O O T E R **/

.footer-section-container {
  display: flex ;
  justify-content: space-around;
}



.fa-instagram {
  margin-left: 50px;

}

.fa-whatsapp {
  margin-left: 50px;

}

.fa-facebook:hover {

  color: #FF3A5E;
  
}

.fa-instagram:hover {
  color: #FF3A5E;

}

.fa-whatsapp:hover {
  
  color: #FF3A5E;
  
}

/*vista perfil tablet (arreglar)*/
.perfiles-container{
  display: flex;
  justify-content: space-between;
}

.imagenes-perfiles{
  width: 70%;
}

.nombre-prefiles{
    text-decoration: none;
}
.info-personal-profile{
  margin-left: 20px;
  justify-content: center;
  width: 50%;
}
.info-personal-profile h2{
  font-family:'Helvetica';
  color: #FE87B0;
  margin-bottom: 20px;
}
.info-personal-profile h4{
  font-family:'Helvetica';
  color: #C570E3;
  
  
}

.card-users{
  margin-bottom: 5%;
  margin-top: 5%;
  box-shadow: 0px 0px 10px rgb(100, 100, 100);
  width: 30%;
  height: 30%;
}


 
}
/*** desktop MAIN ***/
@media  (min-width: 1024px){


  .servicios-imagenes-container {
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content:space-around;
    width: 100%;
    

  }
  
  .card-servicios {
    
      box-shadow: 0px 0px 10px rgb(100, 100, 100);
      margin: 20px;
      width: 15%;
  }

  .bloque-1{
    margin-top:50px;
    display: flex;
    flex-direction: row;
    width: 100%; 
  }
  .img-principal-product-detail{
    display: flex;
    justify-content:left;
    
     
}
.img-small{
  display:flex;
  flex-direction: column;
  
}
.image-div{
  position: relative;
  display: flex;
  width:100%;
  min-height: 70vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 20px;
  background-size: 100% ;
  
}
.image-home{
  position: relative;
  width: 100%;
  height: 100%;
  box-shadow: 3px 3px 3px 3px #FF3A5E
}
.texto-home{
  position: absolute;
  z-index: 100;
  margin-bottom: 10% ;
  margin-left: 60%;
  color: white;
  font-size: 40px;
  -webkit-text-stroke: 0.5px black;
}
.enlace-button-tienda{
  position: absolute;
  z-index: 100;
  display: flex;
  margin-left: 50%;
}
.button-tienda{
  position: absolute;
  z-index: 100;
}

.img-product2{
  width: 120px;
  margin-left:5px;
  margin-bottom: 10px;
  margin-top:4px;
}
.fotos-bloque{
  display: flex;
  justify-content: center;
  margin-left:200px;
}

.bloque-2{
  display: flex;
  flex-direction: column;
  margin:20px;
  margin-left: 300px;
    }


.perro-articulo{
  margin-bottom: 100px;
}
.button-div{
 display: inline-block;
flex-direction: row;
}
button{
  margin-bottom: 20px;

}
.description-art ul{
  list-style: none;
}



.bloque-te-puede-interesar{
 width:50% ;
 
}


/*compu vista perfil*/
.perfiles-container{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin-left: auto;
  margin-right: auto;
  padding: 30px;
 

}

.imagenes-perfiles{
  object-fit: contain;
  width: 200px;
  height: 200px;

}
.user-main{
  display: flex; 
  text-align: center;
  align-items: center;
}

.nombre-prefiles{
    text-decoration: none;
  }
  .info-personal-profile{
    margin-left: 20px;
    justify-content: center;
    width: 50%;
  }
  .info-personal-profile h2{
    font-family:'Helvetica';
    color: #FE87B0;
    margin-bottom: 20px;
  }
  .info-personal-profile h4{
    font-family:'Helvetica';
    color: #C570E3;
    
    
  }

/*** desktop - PRODUCT CREATE **************************/
.form-product{
  min-height: 300px;
  width: 30%;
}
.main-form{
  height:70vh ;
}


}