* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: roboto
}
/***************************************** M O B I L E - H E A D E R  *************************************************/
header {
  border-bottom: 1px solid #C1C1C1; 
}
.top-header {
   display:flex;
   justify-content: space-around;
   padding: 10px;
  }
.logo {
  width: 60px;
  }
.logo-container-buscador{
    width: 70%;
}
.logo-container{
  display: flex;
  width: 100%;
  height: 60px;
  background-color: #FFD7D7;
  align-items: center;
  border: 0.5px solid   #C1C1C1;
  border-radius: 5px;
}
.burguer {
  width: 10%;
}

.nav-right {
  display: flex;
  width: 10%;
}

.fa-cart-shopping{
  color: #FF3A5E;
  font-size: 30px;
  margin-top: 20px;
}

.fa-user {
  visibility: hidden;
  font-size: 30px;
  margin-top: 20px;
  color: #FF3A5E;
}
.fa-bars {
  color: #FF3A5E;
  font-size: 30px;
  margin-top: 20px;
}
h1 {
  margin: auto;
  font-size: 20px;
  color: #fff;
  font-weight: lighter;
}

.buscador {
  display: flex;
  margin: 10px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);

}
.barra {
  width: 100%;
  height: 30px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  border-color: #FFF;
  border-style: none;
}
.fa-magnifying-glass {
  background-color: #FFF;
  padding: 5px;
  border-style: none;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

/***************************************** M O B I L E - F O O T E R *************************************************/

/*********************************************************************************************************************/
/***************************************** H E A D E R - T A B L E T *************************************************/
/*********************************************************************************************************************/
@media  (min-width: 426px){

  .fa-user {
    visibility:visible;
    color: #FF3A5E;
  }

  .nav-right {
    justify-content: space-between;
  }
}
  .fa-cart-shopping:hover{
    color: #ffa5b5;
  }

  .fa-user:hover {
    color: #ffa5b5;
  }
  .fa-bars:hover {
    color: #ffa5b5;
  }