/*---COLORES---
rosita header: #FFD7D7;
rosa fuerte:#FF3A5E ;
celeste :#60E2EB;
verdeagua:#A8EBDF;
azul verdoso: #9AC2D2;
verde:#DBEFEB;------*/


* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: roboto
}
/***************************************** M O B I L E - H E A D E R  *************************************************/
header {
  border-bottom: 1px solid #C1C1C1; 
}
.top-header {
   display:flex;
   justify-content: space-around;
   padding: 10px;
  }
.logo {
  width: 60px;
  }
.logo-container-buscador{
    width: 70%;
}
.logo-container{
  display: flex;
  width: 100%;
  height: 60px;
  background-color: #FFD7D7;
  align-items: center;
  border: 0.5px solid   #C1C1C1;
  border-radius: 5px;
}
.burguer {
  width: 10%;
}

.nav-right {
  display: flex;
  width: 10%;
}

.fa-cart-shopping{
  color: #FF3A5E;
  font-size: 30px;
  margin-top: 20px;
}

.fa-user {
  visibility: hidden;
  font-size: 30px;
  margin-top: 20px;
  color: #FF3A5E;
}
.fa-bars {
  color: #FF3A5E;
  font-size: 30px;
  margin-top: 20px;
}
h1 {
  margin: auto;
  font-size: 20px;
  color: #fff;
  font-weight: lighter;
}

.buscador {
  display: flex;
  margin: 10px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);

}
.barra {
  width: 100%;
  height: 30px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  border-color: #FFF;
  border-style: none;
}
.fa-magnifying-glass {
  background-color: #FFF;
  padding: 5px;
  border-style: none;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}
/***************************************** M O B I L E - M A I N - H O M E *************************************************/

.carrousel-conteiner {
  display: flex;
  width: 100%;
  margin: auto;
  padding: 10px;
  
}

.carrousel {
  width: 100%
}
.servicios-main {
  text-align: center;
  padding: 15px;
  border-top: 1px solid #e8e8e8;
}

.card-servicios {
    margin-bottom: 5%;
    margin-top: 5%;
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
}


.servicios-imagenes{
  width: 100%;
}


/***************************************** M O B I L E - F O O T E R *************************************************/

footer {

  border-top: 1px solid #C1C1C1 ; 
  background-color: #FFD7D7;

}

.footer-section-container {
  padding: 15px;
}

.iconos-contacto {
  display: flex;
  flex-direction: wrap;
  justify-content: space-around;
  padding: 10px;
}
.fa-facebook {
  font-size: 2rem;
  color: blue;
}


.fa-instagram {
  width: 2rem;
  height: 2rem;
  border-radius: 5px;
  color: #fff;
  text-align: center;
  font-size: 2rem;
  background: #d6249f;
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
  box-shadow: 0px 3px 10px rgba(0,0,0,.25);
}

.fa-whatsapp {
  font-size: 2rem;
  color: #25d366;
}

footer div section h5 { 
  font-size: 15px;
  font-weight: lighter;
  padding: 5px;
}

.footer-copyright-container {
  padding: 10px;
  background-color: #f7dada;
  border-top: 1px solid #C1C1C1 ;
}

.copyright {

  font-weight: lighter;

}

  /*============== LOGIN =============*/


  form.login {

    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 24px auto;
    font-size: 14px;
    padding-top:20px;
    font-size: 14px;
 }    

.general-login{
      background-color: white;
      display:block;
      border: #cfefed solid 3px;
      width: 40%;
      text-align: center;
      padding:2px;
  }

h3{
  padding-top:10px;
  padding-bottom: 20px;
  font-size:16px;
}

.main-link{

    display: flex;
    flex-direction: column;
    padding:10px;
    align-items: center;
}

label{
  padding: 1%;
  font-size:14px;
}

.main-link input{
  background-color: #cfefed ;
  width: 50%;
  border: #cfefed solid;
  padding: 1%;
}

.send-buttom {
  margin:20px;
  color: #090909;
  padding: 5px 70px 5px 70px;
  font-size: 14px;
  background: #00969f;
  border: 2px solid #00969f;
  transition: all .3s #00969f;

}

.send-buttom:hover{
  background-color: #00969f;
  color: #e8e8e8;
}


.new-account{
  padding:5%;
  border-bottom: #090909 solid 1px;
  text-align: center;
  font-size: 14px;
  text-decoration: none;
  list-style-type: none;
}


.help{
  padding:5%;
  font-size: 14px;
  text-align:center;
}

/*================== REGISTER ===============*/
form.register{
  display:flex;
}



.title-information{
  color: #ffa8cd;
  text-align: center;
}

.personal-information{
  padding:5%;
  width: 70%;
  border-right: #ffa8cd solid;
}

.login-information{
  padding:5%;
  width: 70%;
  border-left: #ffa8cd solid;
}

.subscription{
  padding:5px;
  align-items: center;
  font-size: 14px;;
}

.container{
  text-align: center;
}



/*********************************************************************************************************************/
/***************************************** M A I N-D E S K T O P *************************************************/
/*********************************************************************************************************************/
main{
  margin-bottom: 90px;
}


.te-puede-interesar{
  
  justify-content: center;
  display: flex;
  font-size: 0.5cm;
  
}
.bloque-te-puede-interesar{
  width: 100%;
}

.bloque-1{
  width: 100%;
  margin-top: 10px;
  
}
.img-principal-product-detail{
  display: flex;
  justify-content: center;
  
}
.img-product1{
  width: 400px;
    
}
.img-product2{
  width: 0px;
  
}
.img-product3{
  width:300px;
  height: 270px;
  margin-bottom: 10px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  }

.img-product3:hover{
  box-shadow: 0px 15px 20px rgba(185, 185, 185, 0.945);
  color: rgba(255, 255, 255, 0.596);
  transform: translateY(-7px);
}
.img-te-puede-interesar{
  justify-content: center;
  
  
  }
  .card{
   display: flex;
    justify-content: center;
     }
  .bloque-2{
              
     }
.Cocina-Gourmet{
  display: flex;
  justify-content: center;
}
.button-div{
  display: flex;
  justify-content: center;
}


/* From uiverse.io */
button {
  padding: 1.3em 3em;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #000;
  background-color: #fff;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
 }
 
 button:hover {
  background-color:#f85472ca ;
  box-shadow: 0px 15px 20px rgb(237, 170, 182);
  color: #fff;
  transform: translateY(-7px);
 }
 
 button:active {
  transform: translateY(-1px);
 }
 .description-art h4{
  font-size: 20px;
  color:rgba(0, 0, 0, 0.874);
}
.description-art{
  margin-top: 20px;
  text-align: center;
  }
.frase1{
  font-size: 15px;
  font-style: italic;
  color: rgb(246, 33, 108);
} 
.frase2{
  font-size:15px;
  font-style: oblique;
  color: rgb(227, 31, 100);
}

/*** MOBILE - PRODUCT CART ***/

.card-carrito{
  display: flex;
  flex-direction: row;
  border: solid rgb(255, 192, 203);
  margin-bottom: 20px;
  box-shadow: 0px 15px 20px rgba(255, 192, 203, 0.5);
}
  
  .card-carrito img {
    width: 100px;
  }
  .card-carrito h2{
    font-size: 15px;
  }
  .costo-desc-total{
    display: flex;
    flex-direction: column;
  }
  .costo-desc-total h3,h4{
    color:rgba(0, 0, 0, 0.88)
  }
  

/** H O M E - H E A D E R - T A B L E T **/

@media  (min-width: 426px){

  .fa-user {
    visibility:visible;
    color: #FF3A5E;
  }

  .nav-right {
    justify-content: space-between;
  }

  .fa-cart-shopping:hover{
    color: #ffa5b5;
  }

  .fa-user:hover {
    color: #ffa5b5;
  }
  .fa-bars:hover {
    color: #ffa5b5;
  }
.servicios-imagenes-container {
  display: flex;
}
  .card-servicios {
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 10px;
    margin-top: 10px;
    box-shadow: none;
    width: 50%;
  }

  main section div article:hover{
    box-shadow: 0px 0px 10px rgb(100, 100, 100)
  }




  
/*---- product detail---*/
.Cocina-Gourmet{
  color: rgba(26, 25, 25, 0.695);
  display: flex;
  justify-content: center;
  align-content: CENTER;

}

.button-div{
  display: flex;
  justify-content: center;
 }
 button{
   margin-left: 10px;
 }

.img-te-puede-interesar{
  display: flex;
}

.img-product3{
  width: 200px;
  height: 200px;
  margin-left: 20px;
  
}

.button-div{
  margin-top: 20px;
}
.description-art h4{
  margin-bottom: 15px;
}
.description-2 h4 {
  margin-top: 15px;
}


 /** T A B L E T - F O O T E R **/

.footer-section-container {
  display: flex ;
  justify-content: space-around;
}



.fa-instagram {
  margin-left: 50px;

}

.fa-whatsapp {
  margin-left: 50px;

}

.fa-facebook:hover {

  color: #FF3A5E;

}

.fa-instagram:hover {
  color: #FF3A5E;

}

.fa-whatsapp:hover {
  
  color: #FF3A5E;

}

 
}
/*** desktop ***/
@media  (min-width: 1024px){

  .bloque-1{
    margin-top:50px;
    display: flex;
    flex-direction: row;
    margin-left: 100px;
    width: 70%; 
  }
  .img-principal-product-detail{
    display: flex;
    justify-content:left;
    
     
}
.img-small{
display:flex;
flex-direction: column;
}
.img-product2{
  width: 120px;
  margin-left:5px;
  margin-bottom: 3px;
  margin-top:4px;
}

.bloque-2{
  display: flex;
  flex-direction: column;
  margin:20px;
  }


.button-div{
 display: flex;
flex-direction: column;
}
button{
  margin-bottom: 20px;

}

.bloque{
  display:flex;
  flex-direction:row;
  width: 100%;
  
}

.servicios-imagenes-container {
  display: flex;
}
  .card-servicios {
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 10px;
    margin-top: 10px;
    box-shadow: none;
    width: 45%;
  }

  main section div article:hover{
    box-shadow: 0px 0px 10px rgb(100, 100, 100)
  }

  body::-webkit-scrollbar {
    width: 8px;            
  }
  
  body::-webkit-scrollbar-track {
    background: #ebebeb;    
  }
  
  body::-webkit-scrollbar-thumb {
    background-color: #ebebeb ;   
    border-radius: 20px;      
    border: 2px solid #666;  
  }

}